:root {
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
}

.application {
  display: flex;
  flex-direction: row;
}

.youtube-bar {
  position: fixed;
  display: flex;
  margin-left: 20px;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 22px;
}
.sidebar-container,
.appbar-container {
  position: relative;
}
.sidebar-container {
  background-color: red;
  z-index: 1;
  width: 225px;
  height: 100%;
}
.appbar-container {
  max-width: 100%;
  height: 100%;
}
.sidebar {
  width: 225px;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background: #212121;
}
.sidebar::-webkit-scrollbar {
  background-color: transparent;
}
.sidebar::-webkit-scrollbar-track {
  background-color: #505050;
  border: 5px solid #212121;
  border-radius: 100vh;
}
.appbar {
  position: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #181818;
}
.rooms {
  display: flex;
  flex-direction: column;
}
.room-active {
  background: #383838;
}
.room {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  height: 34px;
  padding: 5px;
}
.room:hover {
  background: #383838;
}
.room > svg {
  margin-left: 20px;
}
.room > .title {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: white;
  margin-left: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #383838;
}
.categories {
  margin-top: 66px;
}
.categories > .divider {
  margin-block: 16px;
}
.category > .title {
  margin-left: 20px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  color: #aaaaaa;
}
.user-icon {
  width: 22px;
  height: 22px;
  border-radius: 100%;
}
.user-icon > image {
  height: 22px;
  /* safety first! :) */
  width: 22px;
}

.users-room > {
  height: 30px !important;
}

.search-bar {
  position: relative;
  left: -225px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 36px;
  margin-block: 7px;
}

.search-bar > input {
  outline: none;
  width: calc(478px - 6px);
  padding-left: 6px;
  background: #181818;
  border: 1px solid #323232;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  border-radius: 2px 0px 0px 2px;
  color: white;
}
.search-bar > .search {
  width: 56px;
  background-color: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar > .voice {
  width: 36px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
